// Font sizes
$total-count: 48px;
$h1-size: 36px;
$h2-size: 24px;
$h3-size: 22px;
$h4-size: 20px;
$h5-size: 18px;
$h6-size: 16px;
$body-size: 14px;
$small-text: 12px;
$input-text-size: 16px;
$btn-text-size: 16px;

// Line height
$h1-text-height: 45px;
$h2-text-height: 30px;
$h3-text-height: 27px;
$h4-text-height: 24px;
$h5-text-height: 22px;
$h6-text-height: 20px;
$input-text-height: 20px;
$btn-text-hight: 20px;
$body-text-height: 16px;
$small-text-height: 15px;